<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>intro_moon.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,338},{148,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,148}}</string>
			<key>sourceSize</key>
			<string>{148,148}</string>
		</dict>
		<key>label_best.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,488},{98,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,11}}</string>
			<key>sourceSize</key>
			<string>{98,11}</string>
		</dict>
		<key>label_best_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,338},{153,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,19}}</string>
			<key>sourceSize</key>
			<string>{153,19}</string>
		</dict>
		<key>label_game_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,169},{198,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,125}}</string>
			<key>sourceSize</key>
			<string>{198,125}</string>
		</dict>
		<key>label_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,48},{210,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,119}}</string>
			<key>sourceSize</key>
			<string>{210,119}</string>
		</dict>
		<key>label_menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,338},{78,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,28}}</string>
			<key>sourceSize</key>
			<string>{78,28}</string>
		</dict>
		<key>label_meridian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{213,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,44}}</string>
			<key>sourceSize</key>
			<string>{213,44}</string>
		</dict>
		<key>label_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,2},{31,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,35}}</string>
			<key>sourceSize</key>
			<string>{31,35}</string>
		</dict>
		<key>label_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,368},{72,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,28}}</string>
			<key>sourceSize</key>
			<string>{72,28}</string>
		</dict>
		<key>label_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,398},{53,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,11}}</string>
			<key>sourceSize</key>
			<string>{53,11}</string>
		</dict>
		<key>label_stars.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,195},{50,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,11}}</string>
			<key>sourceSize</key>
			<string>{50,11}</string>
		</dict>
		<key>label_start.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{89,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,28}}</string>
			<key>sourceSize</key>
			<string>{89,28}</string>
		</dict>
		<key>label_try_again.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,35},{137,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,28}}</string>
			<key>sourceSize</key>
			<string>{137,28}</string>
		</dict>
		<key>label_tutorial.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,208},{127,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,28}}</string>
			<key>sourceSize</key>
			<string>{127,28}</string>
		</dict>
		<key>numbers_large_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,488},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,169},{12,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{12,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,488},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,488},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,488},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,312},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,286},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,260},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,234},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_large_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,208},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>numbers_small_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{16,326},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,35},{6,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{6,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,488},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,488},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,493},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,493},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,174},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,174},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>numbers_small_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,174},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>menu_sheet.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4947773fcfd05e2a11070545532aacf2$</string>
		<key>textureFileName</key>
		<string>menu_sheet.png</string>
	</dict>
</dict>
</plist>
