<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>intro_moon.png</key>
		<dict>
			<key>frame</key>
			<string>{{41,634},{295,295}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,295}}</string>
			<key>sourceSize</key>
			<string>{295,295}</string>
		</dict>
		<key>label_best.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,66},{195,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,22}}</string>
			<key>sourceSize</key>
			<string>{195,22}</string>
		</dict>
		<key>label_best_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,634},{298,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,37}}</string>
			<key>sourceSize</key>
			<string>{298,37}</string>
		</dict>
		<key>label_game_over.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,331},{397,251}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{397,251}}</string>
			<key>sourceSize</key>
			<string>{397,251}</string>
		</dict>
		<key>label_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{420,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,237}}</string>
			<key>sourceSize</key>
			<string>{420,237}</string>
		</dict>
		<key>label_menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,934},{156,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,56}}</string>
			<key>sourceSize</key>
			<string>{156,56}</string>
		</dict>
		<key>label_meridian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{425,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,88}}</string>
			<key>sourceSize</key>
			<string>{425,88}</string>
		</dict>
		<key>label_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{62,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,70}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>label_play.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,776},{144,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,56}}</string>
			<key>sourceSize</key>
			<string>{144,56}</string>
		</dict>
		<key>label_score.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,263},{106,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,22}}</string>
			<key>sourceSize</key>
			<string>{106,22}</string>
		</dict>
		<key>label_stars.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,533},{99,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,22}}</string>
			<key>sourceSize</key>
			<string>{99,22}</string>
		</dict>
		<key>label_start.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,596},{178,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,56}}</string>
			<key>sourceSize</key>
			<string>{178,56}</string>
		</dict>
		<key>label_try_again.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,66},{273,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,56}}</string>
			<key>sourceSize</key>
			<string>{273,56}</string>
		</dict>
		<key>label_tutorial.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,341},{253,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,56}}</string>
			<key>sourceSize</key>
			<string>{253,56}</string>
		</dict>
		<key>numbers_large_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,371},{21,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{21,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_large_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,584},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>numbers_small_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,499},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,520},{11,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{11,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,478},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,457},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,436},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,415},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,394},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,373},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,352},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>numbers_small_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,331},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>menu_sheet-hd.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f4712c641d5c898481af13116966ef54$</string>
		<key>textureFileName</key>
		<string>menu_sheet.png</string>
	</dict>
</dict>
</plist>
