<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boost.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956,2},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>ground.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1536,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1536,400}}</string>
			<key>sourceSize</key>
			<string>{1536,400}</string>
		</dict>
		<key>moon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1540,2},{226,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,226}}</string>
			<key>sourceSize</key>
			<string>{226,226}</string>
		</dict>
		<key>moon_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1768,190},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>moon_perch.png</key>
		<dict>
			<key>frame</key>
			<string>{{1768,2},{186,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,186}}</string>
			<key>sourceSize</key>
			<string>{186,186}</string>
		</dict>
		<key>star_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2010,184},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>star_1_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{2027,79},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>star_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1898,190},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>star_2_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1898,242},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>star_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956,150},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>star_3_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{2010,150},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>star_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956,79},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>star_4_off.png</key>
		<dict>
			<key>frame</key>
			<string>{{1950,204},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>sun_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1123},{545,545}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,545}}</string>
			<key>sourceSize</key>
			<string>{545,545}</string>
		</dict>
		<key>sun_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{717,716}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{717,716}}</string>
			<key>sourceSize</key>
			<string>{717,716}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sprite_sheet-ipadhd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b70fdb2dc425a7924e08f90ab3103bf5$</string>
		<key>textureFileName</key>
		<string>sprite_sheet.png</string>
	</dict>
</dict>
</plist>
